# Python specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/

# Ignore .env file for sensitive credentials
.env

# IDE-specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
